*{
    margin: 0;
    padding: 0;
    font-family: "Prompt", sans-serif;
}

/* NAVBAR */
:root {
    --main-bg-color: #CC0033;
}

.navbar {
    background: var(--main-bg-color);
}

#navbarNav {
    padding-right: 100px;
}

#navbarNav a {
    color: white;
    font-size: 18px;
}

#navbarNav a:hover{
    color: rgb(255, 255, 255, 0.6);
}

/* FIN NAVBAR */

/* HEADER */
header .filete {
    margin-top: 90px;
    background-image: linear-gradient(90deg,white,rgb(51, 204, 153),white);
}
/* FIN HEADER */

@media (max-width: 768px) {
  
    .navbar-brand img {
      width: 250px;
    }    
   
    .line-hide {
        display:none;
    }
}